{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">
            <div class="explainer" style="--splash-delay: 1">
                <h1>Challenges with manual runbooks</h1>
                    <p>Many companies are using manual runbooks to boot their images. This process is slow, 
                        tedious, and error prone. Using HashiCorp Packer will eliminate these challenges by 
                        allowing you to create your golden image! This golden image can then be quickly 
                        deployed with the Packer template you have created. </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_01_challenge') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}