{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1>AWS vs. Azure</h1>
            <table class="styled-table">
                <p align="right">You can deploy images in both AWS and Azure, but the variable names between the two may differ. 
                    Therefore, you will need to use your AWS template as a guide to create an Azure template. This challenge will 
                    guide you through the process of converting your AWS template to an Azure template.</p>
                
            </table>

        </div>
    </div>
</div>

{% endblock %}
