{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1>AWS vs. Azure</h1>
            <table class="styled-table">
                <p align="left">You can deploy images in both AWS and Azure, but the variable names may differ between the two.</p>
                <p align="left">Therefore, you will need to use your AWS Packer template as a guide to create an Azure Packer template.</p>
                <p align="left">This challenge will guide you through the process of converting from AWS syntax to Azure syntax.</p>
            </table>

        </div>
    </div>
</div>

{% endblock %}
