{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="explainer-wrapper">

            <h1>What is HCP Packer?</h1>
            <table class="styled-table">
                <tr>
                    <th>Definition</th>
                    <th>Use Cases</th>
                </tr>
                <tr>
                    <td>HCP Packer is a cloud service that bridges the gap between image creation and deployment with 
                        image-managment workflows. In essense, it is a registry that tracks your machine and container images' metatdata.</td>
                    <td>HCP Packer can be used to keep track of your golden images. Tracking the metadata of your images enables development
                        and security teams to create, manage, and consume images in a collaborative environment.</td>
                </tr>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_02_description') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}